body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.orenge-color {
    color: orange;
}

section {
    display: flex;
}

.home-half-width {
    width: 50%;
    padding-left: 2px;
}

.home-half-width img{
    width: 80%;
}